/* Footer */
footer {
    height: auto;
    background-color: var(--light-beige);
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: auto;
    background-color: var(--light-beige);
    color: var(--dark-gray);
    justify-content: center;
}

.footer-links-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 3rem 0;
}

.social {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin: 3rem 0;
}

.social img {
    width: 44px;
    height: 44px;
}

.footer-content div > p:nth-child(n+2) {
    line-height: 25px;
}

.bold-paragraf-footer {
    font-weight: bold;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .footer-content {
        margin: 0 3rem;
    }

    .footer-links-wrapper {
        flex-direction: column;
        margin-bottom: 0;
    }

    .social {
        justify-content: space-between;
    }

    .footer-links-wrapper div p:last-child {
        margin-bottom: 1.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .footer-content {
        flex-direction: row;
        width: 100%;
        align-items: center;
    }

    .footer-links-wrapper {
        width: 50%;
        justify-content: space-around;
    }
    
    .social {
        width: 50%;
    }
}

