/* Main */

/* Sign-up with email*/
.sign-up-section {
  width: calc(100% - 48px);
  margin: auto;
  height: 18rem;
  background: var(--dark-beige);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.6rem;
  margin-top: 1.9rem;
}

.sign-up-section h3 {
  font-size: var(--h3);
  font-weight: bold;
  color: black;
}

.input-field {
  background-color: var(--light-beige);
  height: 3.5rem;
  width: 19.5rem;
  border: none;
  font-size: var(--paragraph-small);
  border-radius: 0.6rem;
  margin: 2rem 0.8rem 0.1rem;
  padding: 0.2rem;
}
.submit {
  background-color: var(--dark-green);
  border-radius: 0.6rem;
  font-size: var(--h2);
  width: 19.5rem;
  border: none;
  height: 3.5rem;
  color: var(--white);
  margin: 1.3rem 0.8rem 2.5rem;
}
